.left{
    float:left;
}
.right{
    float:right;
}
textarea{
    resize:vertical;
}
.modal-header{
    border-color:#337ab7;
    color:#337ab7;

}
.checked{ 
    color:red;
}
.checked:hover{
    color:red;
}
.checked:focus{
    color:red;
}
