.left{
    float:left;
}
.right{
    float:right;
}
textarea{
    resize:vertical;
}
.modal-header{
    border-color:#337ab7;
    color:#337ab7;

}
.light{
    color:#000;
    font-size:12px;
    opacity:0.8;

}
.task-footer{
    min-height: 1.5em;
}
.checked{
    color:red;
}
.checked:hover{
    color:red;
}
.checked:focus{
    color:red;
}
